<div class="home-callout text-center container-fluid">
    <h1>Welcome to my Rails Software as a Service App!</h1>
    <h3>This is a sample Ruby on Rails application I built to help me understand core concepts.</h3>
</div>